{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock title %}</title>
    <script src="{% static 'crudapp/js/script.js'%}"></script>
    <link rel="stylesheet" href="{% static 'crud/css/style.css' %}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <!-- Optitonal theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minifies Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrapp@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>
    {% include 'crudapp/header.html' %}
    {% block rightbar %}

    {% endblock rightbar %}
    
    {% block content %}

    {% endblock content %}

    {% block leftbar %}

    {% endblock leftbar %}
    {% include 'crudapp/footer.html' %}
</body>
</html>